@model IEnumerable<WeeBitsHRService.ViewModels.AbsenteeProfileViewModel>

<link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.css" />
<link rel="stylesheet" href="~/lib/plugins/datatables/datatables-reports.min.css" />

@{ ViewData["Title"] = "Absentee Profile by Job Category"; }

<link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.css" />
<link rel="stylesheet" href="~/lib/plugins/datatables/datatables-reports.min.css" />

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 class="text-center"> @ViewData["StartDate"] - @ViewData["EndDate"]</h2>



<hr />
<partial name="_StatusMessage" />
<br />
<table class="table" id="absence-table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.JobCategory)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AverageHoursOfAbsence)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalEmployees)
			</th>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.JobCategory.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AverageHoursOfAbsence)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalEmployees)
			</td>
		</tr>
		}
	</tbody>
</table>
<br />
<div id="absence-chart"></div>
<br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/plugins/datatables/dataTables.js"></script>
<script src="~/js/employees.js"></script>
<script src="~/lib/plugins/highcharts/highcharts.js"></script>
<script src="~/lib/plugins/highcharts/data.js"></script>
<script src="~/lib/plugins/highcharts/exporting.js"></script>
<script src="~/js/absence-chart.js"></script>
