@model IEnumerable<WeeBitsHRService.Models.Employee>

@{ViewData["Title"] = "Current " + @ViewData["Gender"] + " Employees";}

<link rel="stylesheet" href="~/lib/plugins/datatables/dataTables.css" />
<link rel="stylesheet" href="~/lib/plugins/datatables/datatables-reports.min.css" />

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 class="text-center">Age range: @ViewData["StartAge"] - @ViewData["EndAge"]</h2>

<br />
<partial name="_StatusMessage" />
<br />
<h2 class="text-center">Employee Count: @ViewData["Count"] - <a href="javascript:void(0)" id="reveal" class="link-primary">click here to reveal all employees meeting the criteria</a>.</h2>
<br />
<div id="demographics" class="d-none">
	<table id="list" class="table hide">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					Phone No.
				</th>
				<th>
					Payroll
				</th>
				<th>
					@Html.DisplayNameFor(model => model.IsActive)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Position)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Salary)
				</th>
				<th>
					DOB
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Gender)
				</th>
				<th>
					Join
				</th>
				<th>
					Leave
				</th>
				<th>
					Dep
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Branch)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PayrollNumber)
					</td>
					<td>
						<center><i class="fas fa-2x @(item.IsActive ? "fa-check-circle text-success" : "fa-minus-circle text-danger")"></i></center>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Position)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Salary)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DOB)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Gender)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.JoinDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LeaveDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.JobCategory.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Branch.Region)
					</td>
					<td>
						<a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-email="@item.Email"><i class="fas fa-info-circle"></i> Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/plugins/datatables/dataTables.js"></script>
<script src="~/js/employees.js"></script>
<script>
	const table = document.getElementById("demographics");
	const link = document.getElementById("reveal");
	link.onclick = () => {
		table.classList.toggle("d-none")
	};
</script>
